/video/
/app/.venv/
/app/radiowebsite/radiowebsite/settings.py
__pycache__/
geckodriver.log
geckodriver.exe
/app/radiowebsite/pyvenv.cfg
/app/radiowebsite/Scripts
/app/radiowebsite/Launcher.py
/app/radiowebsite/Lib/
/app/radiowebsite/media/audio/*
/app/radiowebsite/media/video/*
/app/radiowebsite/radio/migrations/0*.py
/app/radiowebsite/db.sqlite3
/app/radiowebsite/setup.conf